<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wuruoye.all2">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS"/>

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@drawable/all"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:largeHeap="true"
        android:theme="@style/AppTheme"
        android:fullBackupContent="true">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.wuruoye.all2.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>

        <activity android:name=".v3.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".v3.ArticleDetailActivity"
            android:windowSoftInputMode="adjustNothing"/>
        <activity android:name=".v3.AppInfoActivity" />
        <activity android:name=".user.UserActivity" />
        <activity android:name=".user.LoginActivity" />
        <activity android:name=".v3.ImageActivity"
            android:theme="@style/TransparentTheme"/>

        <activity-alias
            android:enabled="false"
            android:name=".Monday"
            android:label="@string/app_name"
            android:icon="@drawable/monday"
            android:targetActivity=".v3.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:enabled="false"
            android:name=".Tuesday"
            android:label="@string/app_name"
            android:icon="@drawable/tuesday"
            android:targetActivity=".v3.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:enabled="false"
            android:name=".Wednesday"
            android:label="@string/app_name"
            android:icon="@drawable/wednesday"
            android:targetActivity=".v3.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:enabled="false"
            android:name=".Thursday"
            android:label="@string/app_name"
            android:icon="@drawable/thursday"
            android:targetActivity=".v3.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:enabled="false"
            android:name=".Friday"
            android:label="@string/app_name"
            android:icon="@drawable/friday"
            android:targetActivity=".v3.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:enabled="false"
            android:name=".Saturday"
            android:label="@string/app_name"
            android:icon="@drawable/saturday"
            android:targetActivity=".v3.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
        <activity-alias
            android:enabled="false"
            android:name=".Sunday"
            android:label="@string/app_name"
            android:icon="@drawable/sunday"
            android:targetActivity=".v3.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity-alias>
    </application>

</manifest>